Repository SalesforceFoundation/NPSP, pull requests merged in 2019-08, with the labels that each got.

#4413 W-017996 add seasonal address batch size setting
  src/classes/ADDR_Addresses_TEST2.cls
  src/classes/ADDR_Seasonal_SCHED.cls
  src/classes/UTIL_CustomSettingsFacade.cls
  src/objects/npo02__Households_Settings__c.object
  src/package.xml
  src/pages/STG_PanelSchedule.page
Labels: QE - Test

#4382 Feature/jess th username case
  src/classes/TDTM_Config_API_Test.cls
  src/classes/TDTM_ObjectDataGateway.cls
Labels: QE - Test

#4484 Contact Merge - Remove legacy call to old Rollups from Household Trigger
  src/classes/CMT_UnitTestData_TEST.cls
  src/classes/CON_ContactMergeTDTM_TEST2.cls
  src/classes/HH_Households_TDTM.cls
  src/classes/HH_Households_TEST.cls
Labels: QE - Test

#4486 Enable deployments on orgs with encrypted Account.Name and Contact.LastName
  src/classes/CMT_MetadataAPI_TEST.cls
Labels: QE - Test

#4507 Update trial.json to use NPSP 3.160
  orgs/trial.json
Labels: Infrastructure

#4540 Create or use labels hardcoded text in pages to support translations
  src/labels/CustomLabels.labels
  src/package.xml
  src/pages/MTCH_FindGifts.page
  src/pages/PMT_PaymentWizard.page
  src/pages/PSC_ManageSoftCredits.page
  src/pages/RP_Resources.page
  src/pages/STG_PanelCustomizableRollup.page
Labels: Not-to-master

#4536 Feature/robot bdi automation
  robot/Cumulus/resources/DataImportPageObject.py
  robot/Cumulus/resources/NPSP.py
  robot/Cumulus/resources/NPSPSettingsPageObject.py
  robot/Cumulus/resources/OpportunityPageObject.py
  robot/Cumulus/resources/PaymentPageObject.py
  robot/Cumulus/resources/locators_46.py
  robot/Cumulus/tests/browser/batch_data_imports/bdi_with_additional_objects.robot
  robot/Cumulus/tests/browser/donations_payments/find_matched_gifts.robot
  robot/Cumulus/tests/browser/zpayment_allocations/enable_pmt_alloc_and_test.robot
Labels: Infrastructure
