Repository SalesforceFoundation/NPSP, pull requests merged in 2019-04, with the labels that each got.

#4084 Contact Merge Fixup is Queueable and Calls correct Rollup Process
  src/classes/ACCT_IndividualAccounts_TDTM.cls
  src/classes/ACCT_IndividualAccounts_TEST.cls
  src/classes/ADV_Adapter.cls
  src/classes/CON_ContactMergeTDTM_TEST.cls
  src/classes/CON_ContactMergeTDTM_TEST2.cls
  src/classes/CON_ContactMerge_TDTM.cls
  src/classes/RLLP_OppRollup.cls
  src/classes/RLLP_OppRollup_TEST.cls
  tests/browser/contacts_accounts/merge_contacts.robot
Labels: QE - Test

#4141 copy currency code to new account
  src/classes/ACCT_IndividualAccounts_TDTM.cls
  src/classes/ACCT_IndividualAccounts_TEST.cls
Labels: QE - Test

#4056 Disable Contact Role Automation for specific Opportunities
  src/classes/HH_OppContactRoles_TDTM.cls
  src/classes/HH_OppContactRoles_TEST.cls
  src/classes/OPP_OpportunityContactRoles_TDTM.cls
  src/classes/OPP_OpportunityContactRoles_TEST.cls
  src/classes/OPP_PrimaryContactRoleMerge_TEST.cls
  src/classes/OPP_PrimaryContact_BATCH.cls
  src/classes/OPP_PrimaryContact_TEST.cls
  src/classes/RD_RecurringDonations_TEST.cls
  src/classes/STG_PanelHealthCheck_CTRL.cls
  src/classes/STG_PanelHealthCheck_TEST.cls
  src/objects/Opportunity.object
  src/package.xml
Labels: QE - Test

#4206 Update Trialforce Template Id for NPSP 3.153
  orgs/trial.json
Labels: Infrastructure

#4194 Add validation to enforce payments are not marked as "Paid" and "Written Off"
  src/classes/BDI_Donations_TEST.cls
  src/classes/PMT_PaymentWizard_CTRL.cls
  src/classes/PMT_Payment_TDTM.cls
  src/classes/PMT_Payment_TEST.cls
  src/labels/CustomLabels.labels
  src/package.xml
Labels: Not-to-master, QE - Test

#4186 [DO NOT MERGE] Update payment trigger
  src/classes/RP_Constants.cls
Labels: Do Not Merge
