Repository SalesforceFoundation/NPSP, pull requests merged in 2020-06, with the labels that each got.

#5532 Disable view CRLP for non-Admin users
  src/aura/CRLP_RollupsContainer/CRLP_RollupsContainer.cmp
  src/aura/CRLP_RollupsContainer/CRLP_RollupsContainerController.js
  src/classes/CRLP_RollupUI_SVC.cls
  src/classes/CRLP_RollupUI_TEST.cls
Labels: QE - Test

#5521 RD2: Create schedule section LWC
  src/aura/RD2_EntryForm/RD2_EntryForm.cmp
  src/aura/RD2_EntryForm/RD2_EntryFormHelper.js
  src/lwc/rd2EntryForm/rd2EntryForm.html
  src/lwc/rd2EntryForm/rd2EntryForm.js
  src/lwc/rd2EntryFormScheduleSection/rd2EntryFormScheduleSection.html
  src/lwc/rd2EntryFormScheduleSection/rd2EntryFormScheduleSection.js
  src/lwc/rd2EntryFormScheduleSection/rd2EntryFormScheduleSection.js-meta.xml
  src/package.xml
Labels: Not-to-master

#5565 Bug Bounty: NPSP RD Settings Apex Class enforce Salesforce Security
  src/classes/STG_PanelRD_CTRL.cls
  src/classes/STG_SettingsManager_TEST.cls
Labels: QE - Test

#5564 [Robot][customizable rollups] Total current year payments
  robot/Cumulus/resources/AccountPageObject.py
  robot/Cumulus/resources/CustomizableRollupsPageObject.py
  robot/Cumulus/resources/NPSP.py
  robot/Cumulus/resources/NPSP.robot
  robot/Cumulus/resources/ObjectMangerPageObject.py
  robot/Cumulus/resources/OpportunityPageObject.py
  robot/Cumulus/resources/locators_49.py
  robot/Cumulus/tests/browser/crlps/total_current_year_payments.robot
Labels: Test Automation

#5604 Psadie/show record names in lookups merge conflict resolution
  src/lwc/geBatchGiftEntryTable/geBatchGiftEntryTable.html
  src/lwc/geBatchGiftEntryTable/geBatchGiftEntryTable.js
Labels: Not-to-master

#5586 Summer Release All Custom Labels
  src/labels/CustomLabels.labels
  src/package.xml
Labels: QE - Test

#5630 GE: batch table references to links custom labels
  src/lwc/geBatchGiftEntryTable/geBatchGiftEntryTable.js
Labels: Not-to-master

#5578 CRLP: Allow for translation of the True/False picklist options for FilterRule
  src/aura/CRLP_FilterGroup/CRLP_FilterGroupController.js
  src/aura/CRLP_FilterGroup/CRLP_FilterGroupHelper.js
  src/classes/CRLP_RollupCMT.cls
  src/classes/CRLP_RollupCMT_TEST.cls
  src/classes/CRLP_RollupUI_SVC.cls
  src/labels/CustomLabels.labels
  src/package.xml
Labels: QE - Test
