Repository SalesforceFoundation/NPSP, pull requests merged in 2020-11, with the labels that each got.

#5993 Prevent cancellation of already cancelled commitment
  src/classes/RD2_ElevateIntegrationService.cls
  src/classes/RD2_ElevateIntegrationService_TEST.cls
  src/classes/RD2_RecurringDonations_TDTM.cls
Labels: QE - Test

#5925 [GS] Checklist and admin banner to Getting started page
  src/labels/CustomLabels.labels
  src/lwc/accordionSection/accordionSection.css
  src/lwc/accordionSection/accordionSection.html
  src/lwc/accordionSection/accordionSection.js
  src/lwc/accordionSection/accordionSection.js-meta.xml
  src/lwc/gsAccordionLabel/gsAccordionLabel.css
  src/lwc/gsAccordionLabel/gsAccordionLabel.html
  src/lwc/gsAccordionLabel/gsAccordionLabel.js
  src/lwc/gsAccordionLabel/gsAccordionLabel.js-meta.xml
  src/lwc/gsAccordionSection/gsAccordionSection.css
  src/lwc/gsAccordionSection/gsAccordionSection.html
  src/lwc/gsAccordionSection/gsAccordionSection.js
  src/lwc/gsAccordionSection/gsAccordionSection.js-meta.xml
  src/lwc/gsAdminSetup/data.js
  src/lwc/gsAdminSetup/gsAdminSetup.css
  src/lwc/gsAdminSetup/gsAdminSetup.html
  src/lwc/gsAdminSetup/gsAdminSetup.js
  src/lwc/gsAdminSetup/gsAdminSetup.js-meta.xml
  src/lwc/gsChecklist/gsChecklist.html
  src/lwc/gsChecklist/gsChecklist.js
  src/lwc/gsChecklist/gsChecklist.js-meta.xml
  src/lwc/gsChecklistIcon/gsChecklistIcon.css
  src/lwc/gsChecklistIcon/gsChecklistIcon.html
  src/lwc/gsChecklistIcon/gsChecklistIcon.js
  src/lwc/gsChecklistIcon/gsChecklistIcon.js-meta.xml
  src/package.xml
  src/translations/de.translation
  src/translations/es.translation
  src/translations/fr.translation
  src/translations/ja.translation
  src/translations/nl_NL.translation
Labels: Nonprofit-Optimize, Not-to-master

#5929 Adoption Application Status Component
  StaticResourceSources/gsResources/Accept_Tasks_Apply_Card.png
  StaticResourceSources/gsResources/gift_illustration.svg
  StaticResourceSources/gsResources/gift_illustration_2.svg
  StaticResourceSources/gsResources/gift_illustration_submitted_application.svg
  package.json
  sfdx-project.json
  src/classes/GS_ApplicationStatusController.cls
  src/classes/GS_ApplicationStatusController.cls-meta.xml
  src/classes/GS_ApplicationStatusController_TEST.cls
  src/classes/GS_ApplicationStatusController_TEST.cls-meta.xml
  src/classes/GS_NonprofitTrialOrgService.cls
  src/classes/GS_NonprofitTrialOrgService.cls-meta.xml
  src/classes/UTIL_FeatureManagement.cls
  src/classes/UTIL_FeatureManagement_TEST.cls
  src/featureParameters/P10_Application_Date.featureParameterDate
  src/labels/CustomLabels.labels
  src/lwc/gsApplicationStatus/__tests__/gsApplicationStatus.test.js
  src/lwc/gsApplicationStatus/gsApplicationStatus.css
  src/lwc/gsApplicationStatus/gsApplicationStatus.html
  src/lwc/gsApplicationStatus/gsApplicationStatus.js
  src/lwc/gsApplicationStatus/gsApplicationStatus.js-meta.xml
  src/lwc/modal/__tests__/modal.test.js
  src/lwc/modal/modal.css
  src/lwc/modal/modal.html
  src/lwc/modal/modal.js
  src/lwc/modal/modal.js-meta.xml
  src/package.xml
  src/staticresources/CumulusStaticResources.resource
  yarn.lock
Labels: Nonprofit-Optimize, Not-to-master

#6019 [GS][W-8265762] Add title and fix style in video header
  src/labels/CustomLabels.labels
  src/lwc/gsVideoHeader/gsVideoHeader.css
  src/lwc/gsVideoHeader/gsVideoHeader.html
  src/lwc/gsVideoHeader/gsVideoHeader.js
  src/package.xml
Labels: Nonprofit-Optimize

#6017 RD2: Create an error record on Elevate API error response
  src/classes/RD2_EntryFormController.cls
  src/classes/RD2_EntryFormController_TEST.cls
Labels: QE - Test

#5959 [GS] Checklist Items
  StaticResourceSources/gsAssets/step/activity_illustration.svg
  StaticResourceSources/gsAssets/step/gift_illustration.svg
  StaticResourceSources/gsAssets/step/household_illustration.svg
  src/classes/GS_AdminSetup.cls
  src/classes/GS_AdminSetup.cls-meta.xml
  src/classes/GS_AdminSetup_TEST.cls
  src/classes/GS_AdminSetup_TEST.cls-meta.xml
  src/customMetadata/GS_Admin_Checklist_Item.Create_a_Donation.md
  src/customMetadata/GS_Admin_Checklist_Item.Setup_Contact.md
  src/customMetadata/GS_Admin_Checklist_Item.Stay_Track.md
  src/customMetadata/GS_Admin_Checklist_Section.Bring_Users_Onboard.md
  src/customMetadata/GS_Admin_Checklist_Section.Explore_NPSP.md
  src/customMetadata/GS_Admin_Checklist_Section.Make_it_your_own.md
  src/labels/CustomLabels.labels
  src/layouts/GS_Admin_Checklist_Item__mdt-GS Admin Checklist Item Layout.layout
  src/layouts/GS_Admin_Checklist_Section__mdt-GS Admin Checklist Section Layout.layout
  src/lwc/accordionSection/accordionSection.css
  src/lwc/accordionSection/accordionSection.html
  src/lwc/gsAccordionSection/gsAccordionSection.css
  src/lwc/gsAdminSetup/data.js
  src/lwc/gsAdminSetup/gsAdminSetup.js
  src/lwc/gsChecklist/gsChecklist.css
  src/lwc/gsChecklist/gsChecklist.html
  src/lwc/gsChecklistIcon/gsChecklistIcon.css
  src/lwc/gsChecklistIcon/gsChecklistIcon.html
  src/lwc/gsChecklistItem/gsChecklistItem.css
  src/lwc/gsChecklistItem/gsChecklistItem.html
  src/lwc/gsChecklistItem/gsChecklistItem.js
  src/lwc/gsChecklistItem/gsChecklistItem.js-meta.xml
  src/lwc/gsLabelMapper/gsLabelMapper.js
  src/lwc/gsLabelMapper/gsLabelMapper.js-meta.xml
  src/objectTranslations/GS_Admin_Checklist_Item__mdt-de.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Item__mdt-en_US.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Item__mdt-es.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Item__mdt-fr.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Item__mdt-ja.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Item__mdt-nl_NL.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Section__mdt-de.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Section__mdt-en_US.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Section__mdt-es.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Section__mdt-fr.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Section__mdt-ja.objectTranslation
  src/objectTranslations/GS_Admin_Checklist_Section__mdt-nl_NL.objectTranslation
  src/objects/GS_Admin_Checklist_Item__mdt.object
  src/objects/GS_Admin_Checklist_Section__mdt.object
  src/package.xml
  src/staticresources/CumulusStaticResources.resource
Labels: Nonprofit-Optimize, Not-to-master, WIP

#6018 RD2: Add validation migration check for inconsistent RD data
  src/classes/RD2_DataMigrationMapper.cls
  src/classes/RD2_DataMigration_TEST.cls
  src/labels/CustomLabels.labels
  src/package.xml
Labels: QE - Test

#6042 Add all other checklists Items
  StaticResourceSources/gsAssets/step/Communicate_illustrations.svg
  StaticResourceSources/gsAssets/step/Train_users.svg
  StaticResourceSources/gsAssets/step/add_users.svg
  StaticResourceSources/gsAssets/step/company_info_illustration.svg
  StaticResourceSources/gsAssets/step/customize_fields_illustrations.svg
  StaticResourceSources/gsAssets/step/customize_pages.svg
  StaticResourceSources/gsAssets/step/features_illustration.svg
  StaticResourceSources/gsAssets/step/guide_illustration_1.svg
  StaticResourceSources/gsAssets/step/import_illustration_1.svg
  StaticResourceSources/gsAssets/step/managing_change_illustration_2.svg
  StaticResourceSources/gsAssets/step/nature_run_illustration.svg
  StaticResourceSources/gsAssets/step/report_illustrations.svg
  StaticResourceSources/gsAssets/step/settings_illustration.svg
  StaticResourceSources/gsAssets/step/success_illustration.svg
  StaticResourceSources/gsAssets/step/visualize_process_illustration_2.svg
  src/customMetadata/GS_Admin_Checklist_Item.Add_User.md
  src/customMetadata/GS_Admin_Checklist_Item.Communicate_With_Users.md
  src/customMetadata/GS_Admin_Checklist_Item.Custom_Fields.md
  src/customMetadata/GS_Admin_Checklist_Item.Fundraising_process.md
  src/customMetadata/GS_Admin_Checklist_Item.Go_Further.md
  src/customMetadata/GS_Admin_Checklist_Item.Import_Data.md
  src/customMetadata/GS_Admin_Checklist_Item.Manage_Change.md
  src/customMetadata/GS_Admin_Checklist_Item.NPSP_Cloud.md
  src/customMetadata/GS_Admin_Checklist_Item.NPSP_Guide.md
  src/customMetadata/GS_Admin_Checklist_Item.NPSP_Settings.md
  src/customMetadata/GS_Admin_Checklist_Item.Page_Layouts.md
  src/customMetadata/GS_Admin_Checklist_Item.Prepare_NPSP_Cloud.md
  src/customMetadata/GS_Admin_Checklist_Item.Review_Company.md
  src/customMetadata/GS_Admin_Checklist_Item.Running_Reports.md
  src/customMetadata/GS_Admin_Checklist_Item.Train_Users.md
  src/labels/CustomLabels.labels
  src/lwc/gsLabelMapper/gsLabelMapper.js
  src/package.xml
  src/staticresources/CumulusStaticResources.resource
Labels: Nonprofit-Optimize, Not-to-master

#6064 [GS] Chaged Getting started references and update inline text
  src/classes/GS_ApplicationStatusController.cls
  src/classes/GS_ApplicationStatusController_TEST.cls
  src/classes/GS_NonprofitTrialOrgService.cls
  src/labels/CustomLabels.labels
  src/lwc/gsAccordionLabel/gsAccordionLabel.js-meta.xml
  src/lwc/gsAccordionSection/gsAccordionSection.js-meta.xml
  src/lwc/gsAdminSetup/gsAdminSetup.js-meta.xml
  src/lwc/gsChecklist/gsChecklist.js-meta.xml
  src/lwc/gsChecklistIcon/gsChecklistIcon.js-meta.xml
  src/lwc/gsChecklistItem/gsChecklistItem.js-meta.xml
  src/lwc/gsLabelMapper/gsLabelMapper.js-meta.xml
  src/lwc/gsResources/gsResources.js-meta.xml
  src/lwc/gsVideoHeader/gsVideoHeader.js-meta.xml
  src/objects/GS_Admin_Checklist_Item__mdt.object
  src/objects/GS_Admin_Checklist_Section__mdt.object
Labels: Nonprofit-Optimize, Not-to-master
