Repository SalesforceFoundation/NPSP, pull requests merged in 2022-02, with the labels that each got.

#6793 Product Instrumentation Pilot Tests
  force-app/main/default/classes/BDI_DataImportService.cls
  force-app/main/default/classes/BDI_DataImport_BATCH.cls
  force-app/main/default/classes/BDI_DataImport_TEST.cls
  force-app/main/default/classes/EP_EngagementPlans_TDTM.cls
  force-app/main/default/classes/EP_EngagementPlans_TEST.cls
  force-app/main/default/classes/Gift.cls
  force-app/main/default/classes/Gift_Test.cls
  force-app/main/default/classes/RD2_RecurringDonations_TDTM.cls
  force-app/main/default/classes/RD2_RecurringDonations_TEST.cls
  force-app/main/default/classes/RD_RecurringDonations_TDTM.cls
  force-app/main/default/classes/RD_RecurringDonations_TEST2.cls
  force-app/main/default/classes/USER_UserService.cls
  force-app/main/instrumentation/classes/SfdoInstrumentationMock_TEST.cls
  force-app/main/instrumentation/classes/SfdoInstrumentationMock_TEST.cls-meta.xml
  force-app/main/instrumentation/classes/SfdoInstrumentationService.cls
Labels: Instrumentation

#6776 Update trial.json
  orgs/trial.json
Labels: ready for RE review

#6837 [Gift Entry] Exclude new rd fields from ge
  force-app/main/default/lwc/geTemplateBuilderFormFields/excludedFields.js
  force-app/main/default/lwc/geTemplateBuilderFormFields/geTemplateBuilderFormFields.js
Labels: Not-to-main

#6857 fix issue from resolving conflict in feature/238__rd-in-ge
  force-app/main/default/lwc/geModalRecurringDonation/geModalRecurringDonation.html
  force-app/main/default/lwc/geModalRecurringDonation/geModalRecurringDonation.js
Labels: Not-to-main

#6856 [RD in GE] Processing mixed batches
  force-app/main/default/classes/GE_GiftEntryController.cls
  force-app/main/default/classes/Gift.cls
  force-app/main/default/classes/GiftBatch.cls
  force-app/main/default/classes/GiftBatchDTO.cls
  force-app/main/default/classes/GiftBatchForQueueable.cls
  force-app/main/default/classes/GiftBatchForQueueable.cls-meta.xml
  force-app/main/default/classes/GiftBatchForQueueable_TEST.cls
  force-app/main/default/classes/GiftBatchForQueueable_TEST.cls-meta.xml
  force-app/main/default/classes/GiftBatchService.cls
  force-app/main/default/classes/GiftBatchService_TEST.cls
  force-app/main/default/classes/GiftBatch_TEST.cls
  force-app/main/default/classes/GiftEntryProcessorQueue.cls
  force-app/main/default/classes/GiftEntryProcessorQueueFinalizer.cls
  force-app/main/default/classes/GiftEntryProcessorQueueFinalizer_TEST.cls
  force-app/main/default/classes/GiftEntryProcessorQueue_TEST.cls
  force-app/main/default/classes/GiftSelector.cls
  force-app/main/default/classes/Gift_Test.cls
  force-app/main/default/classes/Gifts.cls
  force-app/main/default/classes/GiftsSelectorForProcessing.cls
  force-app/main/default/classes/GiftsSelectorForProcessing.cls-meta.xml
  force-app/main/default/classes/GiftsSelectorForProcessing_TEST.cls
  force-app/main/default/classes/GiftsSelectorForProcessing_TEST.cls-meta.xml
  force-app/main/default/lwc/geBatchGiftEntryTable/geBatchGiftEntryTable.js
  force-app/main/default/lwc/geFormRenderer/geFormRenderer.html
  force-app/main/default/lwc/geGift/geScheduleService.js
  force-app/main/default/lwc/geGiftBatch/__tests__/geGiftBatch.test.js
  force-app/main/default/lwc/geGiftBatch/geGiftBatch.js
  force-app/main/default/lwc/geGiftEntryFormApp/__tests__/geGiftEntryFormApp.test.js
  force-app/main/default/lwc/geGiftEntryFormApp/geGiftEntryFormApp.html
  force-app/main/default/lwc/geGiftEntryFormApp/geGiftEntryFormApp.js
  force-app/main/default/lwc/geModalRecurringDonation/__tests__/geModalRecurringDonation.test.js
  force-app/main/default/lwc/geModalRecurringDonation/geModalRecurringDonation.html
  force-app/main/default/lwc/geModalRecurringDonation/geModalRecurringDonation.js
  force-app/main/default/lwc/geRecurringGiftInfo/geRecurringGiftInfo.css
  force-app/main/default/permissionsets/NPSP_Gift_Entry_User_managed.permissionset-meta.xml
  jest.config.js
  tests/__mocks__/apex/GE_GiftEntryController.hasQueueableId.js
  tests/__mocks__/apex/GE_GiftEntryController.isGiftBatchAccessible.js
Labels: Not-to-main
