Repository SalesforceFoundation/NPSP, pull requests merged in 2022-03, with the labels that each got.

#6863 [Gift Entry] Display messages for RD in GE
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/geFormRenderer/__tests__/geFormRenderer.test.js
  force-app/main/default/lwc/geFormRenderer/geFormRenderer.html
  force-app/main/default/lwc/geFormRenderer/geFormRenderer.js
  force-app/main/default/lwc/geFormWidgetSoftCredit/__tests__/geFormWidgetSoftCredit.test.js
  force-app/main/default/lwc/geFormWidgetSoftCredit/geFormWidgetSoftCredit.html
  force-app/main/default/lwc/geFormWidgetSoftCredit/geFormWidgetSoftCredit.js
  force-app/main/default/lwc/geModalRecurringDonation/__tests__/geModalRecurringDonation.test.js
  force-app/main/default/lwc/geModalRecurringDonation/geModalRecurringDonation.html
  force-app/main/default/lwc/geReviewDonations/__tests__/geReviewDonations.test.js
  force-app/main/default/lwc/geReviewDonations/geReviewDonations.html
  force-app/main/default/lwc/geReviewDonations/geReviewDonations.js
  force-app/main/default/lwc/utilInlineText/__tests__/utilInlineText.test.js
  force-app/main/default/lwc/utilInlineText/utilInlineText.html
  force-app/main/default/lwc/utilInlineText/utilInlineText.js
  force-app/main/default/lwc/utilInlineText/utilInlineText.js-meta.xml
Labels: Not-to-main

#6804 W-10423588 - Remove Soft Credits
  force-app/main/default/classes/DonationHistoryController.cls
  force-app/main/default/classes/DonationHistoryController_TEST.cls
  force-app/main/default/classes/DonationSelector_TEST.cls
  force-app/main/default/classes/USER_UserService.cls
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/donationHistory/donationHistory.html
  force-app/main/default/lwc/donationHistory/donationHistory.js
  force-app/main/default/lwc/donationHistory/donationHistory.js-meta.xml
  force-app/main/default/lwc/donationHistoryFilter/__tests__/donationHistoryFilter.test.js
  force-app/main/default/lwc/donationHistoryFilter/donationHistoryFilter.html
  force-app/main/default/lwc/donationHistoryFilter/donationHistoryFilter.js
  force-app/main/default/lwc/donationHistoryFilter/donationHistoryFilter.js-meta.xml
  force-app/main/default/lwc/donationHistoryTable/donationHistoryTable.html
  force-app/main/default/lwc/donationHistoryTable/donationHistoryTable.js
  force-app/main/default/lwc/givingSummaryForDetailPage/givingSummaryForDetailPage.js
  force-app/main/default/lwc/givingSummaryForDetailPage/givingSummaryForDetailPage.js-meta.xml
  force-app/main/selector/DonationHistorySelector.cls
  force-app/main/service/DonationHistoryService.cls
Labels: cla:signed

#6883 RD2: Status Automation Update Elevate Commitment Status
  force-app/main/default/classes/PS_CommitmentRequest.cls
  force-app/main/default/classes/PS_IntegrationServiceConfig_TEST.cls
  force-app/main/default/classes/PS_Request.cls
  force-app/main/default/classes/PS_Request_TEST.cls
  force-app/main/default/classes/RD2_Commitment.cls
  force-app/main/default/classes/RD2_Commitment.cls-meta.xml
  force-app/main/default/classes/RD2_ElevateIntegrationService.cls
  force-app/main/default/classes/RD2_EntryFormController_TEST.cls
  force-app/main/default/classes/RD2_OpportunityEvaluationService.cls
  force-app/main/default/classes/RD2_OpportunityEvaluation_BATCH.cls
  force-app/main/default/classes/RD2_OpportunityEvaluation_TEST.cls
  force-app/main/default/classes/RD2_RecurringDonation.cls
  force-app/main/default/classes/RD2_StatusAutomationService.cls
  force-app/main/default/classes/RD2_UpdateCommitmentBulkService.cls
  force-app/main/default/classes/RD2_UpdateCommitmentBulkService.cls-meta.xml
  force-app/main/default/classes/RD2_UpdateCommitmentBulkService_TEST.cls
  force-app/main/default/classes/RD2_UpdateCommitmentBulkService_TEST.cls-meta.xml
  force-app/main/default/classes/RD2_ValidationService_TEST.cls
  force-app/main/default/classes/UTIL_Http_TEST.cls
  force-app/main/default/labels/CustomLabels.labels-meta.xml
Labels: Instrumentation
